<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<multicart>
			<multicart>
				<user/>
				<password/>
				<url/>
				<store_field/>
			</multicart>
		</multicart>
	</default>
</config>
